@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@500;700;800&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;    
}
.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:930px;
    height:500px;
    margin:20px;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #808080; 
}
.box{
    height:100%;
    width:310px;
}
.box1{   
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.box2{

    background-color: hsl(184, 100%, 22%);
}
.box3{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.text{
    color:hsla(0, 0%, 100%, 0.75);
    text-align:left;
    margin:45px;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 15px;
}
h1{
    font-size:40px;
    margin-top:45px;
    margin-bottom:45px;
    font-family: 'Big Shoulders Display', cursive;
}
button{
    margin-top:50px;
    padding:15px;
    border-radius: 40px;
    color:hsla(0, 0%, 100%, 0.75);
    background-color: transparent;
    border-color: white;
    border-width: 3px;
    width:130px;
}
/* jhsgadjh */